body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #603e3e;
    color: white;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.auth-buttons {
    display: flex;
}

.auth-buttons button {
    background-color: yellow;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.header-content {
    text-align: center;
    padding: 20px;
}

.header-content h1 {
    font-size: 2em;
    margin: 10px 0;
}

.header-content p {
    font-size: 1.2em;
    margin: 10px 0;
}

.auth-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.auth-options button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

main {
    display: flex;
    padding: 20px;
}

article {
    flex: 2;
    padding: 20px;
    background-color: white;
    margin-right: 20px;
}

article h2 {
    margin-top: 0;
}

aside {
    flex: 1;
}

.join-reviewer {
    padding: 20px;
    background-color: rgb(199, 183, 183);
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}